*{
    margin: 0px;
}
body{
    background-color: whitesmoke;
}
header{
    margin-top: 0%;
    background-color: rgb(153, 222, 222);
    border-radius: 0px 0px 2vh 2vh;
    height: 15vh;
    text-align: center;
    margin-bottom: -2vh;
}
header h1{
    padding-top: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
main{
    margin-top: 5vh;
    text-align: center;
    border: 0.3vh solid rgb(153, 222, 222);
    margin-left: 25%;
    width: 50%;
    border-radius: 4vh;
    margin-bottom: 3vh;
    box-shadow: 0px 0px 3px gray;
    background-color: white;
}
main h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 222, 222);
    padding-top: 2vh;
    font-size: 3.5vh;
}
section label{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 25vh;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    border-color: gray;
    text-align: left;
}
form input, form button {
    width: 50%;
    height: 7vh;
    margin-left: 25%;
    border-radius: 1vh;
    border-color: rgb(153, 222, 222);
}
form input:hover, form select[id="tipo"]:hover, section select[id="filtro"]:hover{
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 0px 3px gray;
}
section button{
    background-color: rgb(153, 222, 222);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    
}
section select[id="tipo"]{
    width: 51%;
    height: 7.3vh;
    margin-left: 25%;
    border-radius: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: gray;
    border: 0.1vh inset rgb(153, 222, 222);
}
section select[id="tipo"] option{
    color: gray;
}
section table{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3vh;
}
section input[id="observacao"]{
    margin-bottom: 3vh;
}
section[class="box"] h2{
    margin-top: 2vh;
    margin-bottom: 3vh;
}
select[id="filtro"]{
    width: 50%;
    height: 7.3vh;
    border-radius: 1vh;
    margin-bottom: 3vh;
    color: gray;
    border: 0.1vh inset rgb(153, 222, 222);
    margin-bottom: -1vh;
}
select[id="filtro"] option{
    color: gray;
}
table{
    margin-top: 6vh;
    height: 10vh;
    margin-bottom: -19vh;
}
section[class="box"] th{
    color: gray;
}
footer{
    margin-left: 3vh;
}
button[id="modoEscuro"]{
    background-color: rgb(153, 222, 222);
    color: white;
    border-radius: 100%;
    height: 10vh;
    width: 10vh;
    border: none;
    margin-left: 89%;
    font-size: 4vh;
    margin-top: -9vh;
    cursor: pointer;
}

body.dark-mode{
    background-color: rgb(63, 63, 63);
}